<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>User.servlets.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <display-name>PainCare</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>User.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>User.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>Pages.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/HomePage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>User.servlets.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Diagnostic</display-name>
    <servlet-name>Diagnostic</servlet-name>
    <servlet-class>Health.servlets.Diagnostic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Diagnostic</servlet-name>
    <url-pattern>/Diagnostic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PainTrack</display-name>
    <servlet-name>PainTrack</servlet-name>
    <servlet-class>Health.servlets.PainTrack</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PainTrack</servlet-name>
    <url-pattern>/PainTrack</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Publish</display-name>
    <servlet-name>Publish</servlet-name>
    <servlet-class>Blog.servlets.Publish</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Publish</servlet-name>
    <url-pattern>/Publish</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BrowseBlogs</display-name>
    <servlet-name>BrowseBlogs</servlet-name>
    <servlet-class>Blog.servlets.BrowseBlogs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrowseBlogs</servlet-name>
    <url-pattern>/BrowseBlogs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Blog</display-name>
    <servlet-name>Blog</servlet-name>
    <servlet-class>Blog.servlets.Blog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Blog</servlet-name>
    <url-pattern>/Blog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Comment</display-name>
    <servlet-name>Comment</servlet-name>
    <servlet-class>Blog.servlets.Comment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Comment</servlet-name>
    <url-pattern>/Comment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteComment</display-name>
    <servlet-name>DeleteComment</servlet-name>
    <servlet-class>Blog.servlets.DeleteComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteComment</servlet-name>
    <url-pattern>/DeleteComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBlog</display-name>
    <servlet-name>DeleteBlog</servlet-name>
    <servlet-class>Blog.servlets.DeleteBlog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBlog</servlet-name>
    <url-pattern>/DeleteBlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBlog</display-name>
    <servlet-name>UpdateBlog</servlet-name>
    <servlet-class>Blog.servlets.UpdateBlog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBlog</servlet-name>
    <url-pattern>/UpdateBlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Profile</display-name>
    <servlet-name>Profile</servlet-name>
    <servlet-class>Pages.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserBlog</display-name>
    <servlet-name>UserBlog</servlet-name>
    <servlet-class>Blog.servlets.UserBlog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserBlog</servlet-name>
    <url-pattern>/UserBlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Articles</display-name>
    <servlet-name>Articles</servlet-name>
    <servlet-class>Pages.Articles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Articles</servlet-name>
    <url-pattern>/Articles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Article</display-name>
    <servlet-name>Article</servlet-name>
    <servlet-class>Pages.Article</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Article</servlet-name>
    <url-pattern>/Article</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Diagnostics</display-name>
    <servlet-name>Diagnostics</servlet-name>
    <servlet-class>Health.servlets.Diagnostics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Diagnostics</servlet-name>
    <url-pattern>/Diagnostics</url-pattern>
  </servlet-mapping>
</web-app>